<!-- ======= Totalizador Section ======= -->
<section id="totalizador" class="totalizador">
  <div class="container">

    <div class="section-title">
      <h2>Totalizadores</h2>
    </div>

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
          <i class="bi bi-person-fill"></i>
          <span class="totalizador1"></span>
          <p><strong>Padrón Datos Socios</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
          <i class="bi bi-bag-fill"></i>
          <span class="totalizador2"></span>
          <p><strong>Padrón Producto Socios</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
          <i class="bi bi-person-plus-fill"></i>
          <span class="totalizador3"></span>
          <p>
            <strong>Alta Socios</strong>
            <br>
            Cierre Actual
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="count-box">
          <i class="bi bi-bag-plus-fill"></i>
          <span class="totalizador4"></span>
          <p>
            <strong>Alta Productos</strong>
            <br>
            Cierre Actual
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Totalizador Section -->